<div>
    <h2 id="page-heading">
        <span jhiTranslate="bisaiapp5App.vedio.home.title">Vedios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vedio" [routerLink]="['/vedio/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bisaiapp5App.vedio.home.createLabel">
            Create new Vedio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vedios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bisaiapp5App.vedio.name">Name</span></th>
            <th><span jhiTranslate="bisaiapp5App.vedio.url">Url</span></th>
            <th><span jhiTranslate="bisaiapp5App.vedio.isplaying">Isplaying</span></th>
            <th><span jhiTranslate="bisaiapp5App.vedio.length">Length</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vedio of vedios ;trackBy: trackId">
                <td><a [routerLink]="['/vedio', vedio.id, 'view' ]">{{vedio.id}}</a></td>
                <td>{{vedio.name}}</td>
                <td>{{vedio.url}}</td>
                <td>{{vedio.isplaying}}</td>
                <td>{{vedio.length}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/vedio', vedio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vedio', vedio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'vedio', { outlets: { popup: vedio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
